body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0 10%;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

section {
    border: 2px solid #a2a2a6;
    padding: 10px;
    margin: 10px auto;
}

.color-container {
    width: 100%;
}

.color-panel {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
}

.violet {
    background-color: #7678ed;
    color: #fff;
}

.dark-violet {
    background-color: #1f1e4d;
    color: #fff;
}

.dark-gray {
    background-color: #5f6368;
    color: #fff;
}

.light-blue {
    background-color: #57b0f2;
    color: #fff;
}

.font-container {
    width: 100%;
}

.font-panel {
    width: 45%;
    display: inline-block;
}

.font-label {
    font-size: 20px;
    text-decoration: underline;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.roboto-condensed {
    font-family: 'Roboto Condensed', sans-serif;
}

.roboto-slab {
    font-family: 'Roboto Slab', serif;
}

.regular {
    font-style: normal;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.text-container {
    width: 100%;
}

.text-panel h1 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 32px;
    Color: #5F6368
}

.text-panel h2 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    Color: #5F6368
}

.text-panel p {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    Color: #5F6368
}